@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
}

header {
    background-color: #333333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 15%;
        margin-right: 20px;
    }
}

.titrenav {
    flex-grow: 1;

    h1 {
        background: black; 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 75px;
        font-family: "Dancing Script";
    }
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    font-size: 30px;
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #90EE90, #ADD8E6);
    font-family: "Dancing Script";
    color: black;
    border: black 1px solid;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background: transparent;
}

section {
    padding: 20px;
}

.service {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}