/* Variables CSS pour les couleurs et polices */
:root {
  --background-body: #fafdfe;  /* Blanc cassé */
  --background-dark: #e0e0e0; /* Un gris léger */
  --primary-color: #1ab1dd; /* Bleu clair */
  --secondary-color: #f1cd52; /* Jaune doré */
  --accent-color-1: #1fcfb7; /* Turquoise */
  --accent-color-2: #11f09b; /* Vert clair */
  --text-light: #333; /* Gris foncé */
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Général */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: var(--background-body);
  color: var(--text-light);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-dark);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content .logo {
  height: 150px;
  filter: drop-shadow(1px 1px 2px #1ab1dd);
}

.navbar ul {
  display: flex;
  gap: 15px;
  list-style: none;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--primary-color); 
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 0 10px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid var(--primary-color); 
}

.navbar ul li a:hover {
  background-color: var(--primary-color); 
  color: var(--background-body); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Home */
.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  background-color: var(--background-body);
  color: var(--text-light);
  padding: 80px;
}

.home-title,
.service-title {
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 20px;
  margin-top: 80px;
  animation: fadeIn 1s ease-in-out;
}

.home-intro {
  max-width: 800px;
  padding: 30px;
  background-color: var(--background-dark);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.accroche {
  font-size: 1.9em;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.proposition-valeur {
  font-size: 1.2em;
  color: var(--text-light);
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.illustration {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.home-intro ul {
  list-style: none;
  padding-left: 0;
  color: var(--text-light);
  text-align: left;
  margin: 20px 0;
}

.home-intro li {
  margin-bottom: 10px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.home-intro li::before {
  content: "✔️";
  color: var(--secondary-color);
  font-size: 1.2em;
  margin-right: 10px;
}

strong {
  color: var(--secondary-color);
  font-size: 1.5em;
  font-weight: bold;
}

/* About */
.about-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-body);
}

.about-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 8px;
  margin: 100px 20px;
  padding: 30px;
  background-color: var(--background-dark);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.about-text {
  max-width: 70%;
  padding: 0 20px;
  font-size: 1.1rem;
  line-height: 1.6;
}

.about-photo {
  width: 30%;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.about-text h1,
h2 {
  margin-top: 0;
  font-size: 2rem;
  color: var(--secondary-color);
  text-align: center;
}

.about-content h2 {
  margin-top: 20px;
}

/* Services */
.main-services {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background: var(--background-body);
  color: var(--text-light);
  padding: 40px 20px;
}

.service-title {
  font-size: 3em;
  color: var(--secondary-color);
  margin-top: 120px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: relative;
}

.intro-text {
  color: var(--text-light);
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.service-card {
  background: var(--background-dark);
  border: 1px solid #ddd;
  border-radius: 8px;
  color: var(--text-light);
  padding: 15px;
  width: 328px;
  min-height: 400px;
  transition: box-shadow 0.2s ease;
}

.service-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.service-card h2 {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 10px;
}

.service-card h3 {
  color: var(--text-light);
  font-size: 1.1em;
  margin-bottom: 10px;
}

.service-card ul {
  list-style: none;
  padding: 0;
}

.service-card ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.service-card ul li::before {
  content: '\2713';
  color: var(--accent-color-2);
  font-size: 1.2em;
  position: absolute;
  left: 0;
  top: 0;
}

.service-card p {
  color: var(--text-light);
  line-height: 1.6;
}

.price {
  color: var(--secondary-color);
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 15px;
}

.call-to-action {
  text-align: center;
  margin-top: 30px;
  color: var(--text-light);
  font-size: 1.1em;
}

/* Contact */
.main-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 120px 20px;
  background-color: var(--background-body);
}

.article-contact {
  background-color: var(--background-dark);
  padding: 30px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  text-align: center;
  color: var(--text-light);
}

.contact-title {
  font-size: 3.2em;
  color: var(--secondary-color);
  font-family: 'Playfair Display', serif;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.article-contact p {
  font-size: 1.1em;
  line-height: 1.6;
  color: var(--text-light);
  margin-bottom: 25px;
}

.article-contact a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease,
    text-decoration 0.3s ease;
}

.article-contact a:hover {
  color: var(--accent-color-1);
  text-decoration: underline;
}

/* Boutons d'appel à l'action sur la page contact */
button {
  background: var(--primary-color);
  color: var(--text-light); 
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 180px;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--background-body); 
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Media Queries pour le responsive design */

/* Pour les tablettes et les écrans plus petits */
@media (max-width: 768px) {

  /* Styles pour le header */
  .navbar ul {
    justify-content: center;
    padding: 10px;
  }

  .navbar ul li a {
    padding: 5px 8px;
    font-size: 1.3em;
    margin: 5px 0;
  }

  /* Styles pour la page d'accueil */
  .main-home,
  .main-services {
    padding: 40px 20px;
  }

  .home-title,
  .service-title {
    padding-top: 30px;
  }

  .home-intro,
  .service-card {
    padding: 20px;
  }

  /* Styles pour la page à propos */
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    max-width: 100%;
    padding: 10px;
  }

  .about-photo {
    max-width: 80%;
    margin: 20px auto;
  }

  /* Styles pour la page de services */
  .service-card h2 {
    font-size: 2em;
  }

  .service-card .sous-titre {
    font-size: 1em;
  }

  .service-card.price {
    font-size: 1.5em;
  }

  /* Styles pour la page de contact */
  .main-contact {
    padding: 40px 20px;
  }

  .article-contact {
    padding: 10px;
  }

  .call-to-action {
    font-size: 1em;
  }
}

/* Pour les mobiles */
@media (max-width: 480px) {
  .header-content .logo {
    height: 80px;
  }

  .navbar ul li a {
    font-size: 0.8em;
  }

  .home-title,
  .service-title {
    padding-top: 0;
  }

  .service-card {
    min-width: 90%;
  }

  .service-card h2 {
    font-size: 1.5em;
  }

  .article-contact {
    width: 90%;
    padding: 20px 10px;
  }

  .contact-title {
    font-size: 2.5em;
  }

  .article-contact p {
    font-size: 0.9em;
  }

  .buttonGoogleForm {
    padding: 10px 15px;
    font-size: 0.8em;
  }
}