/* Général */
body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0; /* Couleur de fond légère */
}

.navbar-container img { /* Logo */
  max-height: 80px; 
  margin-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

nav li {
  margin-left: 20px;
}

/* Sections */
section {
  padding: 40px 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Services */
/* ... (autres styles) ... */

/* Services */
.services-grid {
  display: flex;  /* Affiche les cartes en ligne */
  justify-content: center; /* Centre les cartes */
  gap: 20px; /* Espacement entre les cartes */
}

.service-card {
  width: 300px; /* Largeur de la carte */
  height: 200px; /* Hauteur de la carte */
  perspective: 1000px; /* Crée un effet de perspective */
}

.service-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d; /* Maintient l'effet 3D lors de la transition */
}

.service-card:hover .service-card-inner {
  transform: rotateY(180deg); /* Rotation au survol */
}

.service-card-front, .service-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Cache la face arrière */
  display: flex;
  flex-direction: column; /* Organiser les éléments en colonne */
  align-items: center; /* Centrer horizontalement */
  border-radius: 25px;
}

.service-card-front {
  background-color: #bbb; /* Couleur de la face avant */
}

.service-card-back {
  background-color: #ddd; /* Couleur de la face arrière */
  transform: rotateY(180deg); /* Rotation initiale de la face arrière */
}

/* Tarifs */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* Contact */
#contact ul {
  list-style: none;
  padding: 0;
}

#contact li {
  margin-bottom: 10px;
}