:root {
    --text-black: #000; /* Noir */
    --text-warning: #ffc107; /* Jaune */
    --bg-secondary: #343a40; /* Gris foncé */
    --bg-dark: #212529; /* Gris très foncé */
    --text-light: #fff; /* Blanc */ 
    --text-bg-light: #f8f9fa; /* Blanc pour fond de badge */
}